# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env

# Logs
proxy.log

# Editor and OS files
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp